@using VecinoBuildingMangement.Models
@using VecinoBuildingMangement.ViewModels
@model ViewEventViewModel
@{
    ViewData["Title"] = "ViewEvents";
    ViewData["Active"] = "event";
    Layout = "~/Views/Shared/MasterResidentPage.cshtml";
}

<link rel="stylesheet" href="../css/Event.css">
<main class="main">
    <h1>Community Events</h1>
    <h2>Upcoming Events</h2>
    <div class="event-grid">


        @foreach (Event event1 in Model.CurrEvents)
        {
            <div class="event-box">

                <h1 class="event-title">@event1.EventTitle</h1>
                <p class="event-desc">@event1.EventDescription</p>
                <div class="details">
                    <p class="event-date"><img src="../Images/calendar-xoaigr9z259n0zw0pl1c.webp" class="side-image">@event1.EventDate</p>
                    <p class="event-time"> <img src="../Images/clock.png" class="side-image">4:00PM - 8:00 PM</p>
                    <p class="event-type"><img src="../Images/clipboard.png" class="side-image" s>@event1.EventTypeId</p>
                </div>
            </div>
        }
       
      
    </div>
    <div class="past-events">
        <h2>Past Events</h2>
        <div class="event-grids">
            @foreach(Event preEvent in Model.PreEvents)
            {
                
            
                <div class="event-box">

                    <h1 class="event-title">@preEvent.EventTitle</h1>
                    <p class="event-desc">@preEvent.EventDescription</p>
                    <div class="details">
                        <p class="event-date"><img src="../Images/calendar-xoaigr9z259n0zw0pl1c.webp" class="side-image">@preEvent.EventDate</p>
                        <p class="event-time"> <img src="../Images/clock.png" class="side-image">4:00PM - 8:00 PM</p>
                        <p class="event-type"><img src="../Images/clipboard.png" class="side-image" s>@preEvent.EventTypeId</p>
                    </div>
                </div>
            }
        </div>
    </div>
</main>
