@using VecinoBuildingMangement.Models
@using VecinoBuildingMangement.ViewModels
@model ManagePaymentViewModel
@{
    ViewData["Title"] = "ViewManagePayment";
    ViewData["Active"] = "payment";
    Layout = "~/Views/Shared/MasterResidentPage.cshtml";
}

<link rel="stylesheet" href="~/css/Pay.css">
<div class="main">
    <header>My Payments</header>
    <div class="payments">
        <p class="Fees">Total Fees</p>
        <p class="Money">@Model.TotalFees₪</p>

        @if(Model.UnPaidFees.Count == 1)
        {
            <p class="NumberFee">1 Fee</p>
        }
       else
        {
            <p class="NumberFee">@Model.UnPaidFees.Count Fee</p>
        }
           
        <button class="PayBtn">Pay</button>

    </div>
    <div class="history">
        <h2>Payment History</h2>
        @foreach(Fee fee in Model.Fees)
        {
            <div class="paid">
                <div class="imgwraper">
                    <img src="~/Images/Completed.webp" class="requestimg">
                </div>
                <div class="info">
                    <p class="Title">@fee.FeeTitle</p>
                    <p class="Secondary">15/12/2025  -  Credit Card</p>

                </div>
                <p class="feeamount">@fee.FeeAmount₪</p>
            </div>
        }
        
      

    </div>

    <div class="fees">
        @foreach(Fee fee1 in Model.UnPaidFees)
        {
            <div class="fee">
                <div class="moneywraper">
                    <img src="~/Images/money.webp" class="moneyimg">
                </div>
                <div class="feeinfo">
                    <div class="fee-top">
                        <p class="FeeTitle">@fee1.FeeTitle</p>
                        <p class="feedesc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mauris risus.  </p>
                    </div>

                    <div class="fee-bottom">
                        <p class="FeeSecondary">Due Date - @fee1.FeeDueDate</p>
                        <p class="status">Not Payed</p>
                    </div>

                </div>
                <p class="amount">@fee1.FeeAmount₪</p>
            </div>
        }
      
       

    </div>

</div>

